body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#line {
    width: 60%;
    margin-left: 10px;
    color: red;
}

#stats {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    background-color: rgb(42, 42, 42);
}

#assets {
    position: absolute;
    left: 300px;
    top: 0;
    right: 0;
    height: 400px;
    background-color: rgb(53, 53, 53);
}

#actions {
    position: absolute;
    top: 300px;
    left: 300px;
    bottom: 0;
    right: 0;
    background-color: rgb(47, 47, 47);
}

.statstitle {
    margin-left: 10px;
    color: rgb(204, 48, 0);
    font-family: 'MedievalSharp';
    font-size: 40px;
    text-decoration: underline;
}

.assetstitle {
    margin-left: 10px;
    color: rgb(216, 189, 19);
    font-family: 'MedievalSharp';
    font-size: 40px;
    text-decoration: underline;
}

.actionstitle {
    margin-left: 10px;
    color: rgb(3, 99, 209);
    font-family: 'MedievalSharp';
    font-size: 40px;
    text-decoration: underline;
}

.assetstext {
    display: inline-block;
    margin-left: 30px;
    font-size: 33px;
    margin-top: 0px;
}

.bigstats {
    margin-left: 10px;
    color: rgb(215, 215, 215);
    font-family: 'MedievalSharp';
    font-size: 22px;
}

.first {
    margin-left: 0px;
}

.littlestats {
    margin-left: 10px;
    color: rgb(215, 215, 215);
    font-family: 'MedievalSharp';
    font-size: 20px;
}

.focusareas {
    display: inline-block;
    width: 150px;
    margin-left: 60px;
    margin-top: 0px;
    margin-bottom: 2px;
    color: rgb(215, 215, 215);
    font-family: 'MedievalSharp';
    font-size: 20px;
}



.statstext {
    position: fixed;
    margin-top: 0;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    max-width: 270px;
}